body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    padding-top: 45px;
}
*{
    box-sizing: border-box;
}

section{
    max-width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-top: 45px;
    background: rgb(238, 235, 235);   
}
article{
    width: 30%;
    padding: 10px;
}
article h1{
font-size: 24px;
margin: 0;
}
article p{
    color: rgb(150, 146, 146);
}
img{
    width: 100%;
}
article #little-paragraph {
    font-size: 12px;
    color: rgb(102, 100, 100);
    font-weight: bold;  
}
button {
    width: 100px;
    height: 40px;
    padding: 6px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 3px;
}
.color{
    background: rgb(144, 80, 204);
    border: 1px solid rgb(144, 80, 204);
    margin: 5px;
}

    